.idea
src/main/resources/.DS_Store
src/main/.DS_Store
.DS_Store
src/main/resources/.DS_Store
src/main/.DS_Store
src/main/resources/.DS_Store
src/main/.DS_Store
.gradle
build
out
src/main/loginpage/node_modules
src/main/mainpage/node_modules
