.UserInfo{
    display: flex;
    flex-direction: column;

}

.OuterNavBotPic{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    flex-shrink: 1;
}

.NavBotPic{
    width: 14.25rem;
    height: 16.3125rem;
}

.NavFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    flex-shrink: 0;
}

.NavFooterInner{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem;
    border-top: 0.125rem solid #DFE6E9;
    
}

.AvaName{
    padding: 0 2rem 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Avatar{
    width: 2rem;
    height: 2rem;
}

.SettingsIcon{
    width: 1.5rem;
    height: 1.5rem;
}