<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>

<body>
<form th:action="@{/users/signup}" method="post" id="signupForm" onsubmit="return handleFormSubmit(event)">
    <div>
        <label for="username">아이디</label>
        <input type="text" name="username" id="username">
        <p id="idCheckResult"></p>
    </div>

    <div>
        <label for="password">비밀번호</label>
        <input type="password" name="memberPassword" id="password">
    </div>

    <div>
        <label for="passwordConfirm">비밀번호 확인</label>
        <input type="password" name="passwordConfirm" id="passwordConfirm">
        <div id="passwordError" style="display:none; color: red;">비밀번호가 일치하지 않습니다.</div>
    </div>

    <div>
        <label for="memberName">이름</label>
        <input type="text" name="memberName" id="memberName">
    </div>

    <div>
        <label for="memberEmail">이메일</label>
        <input type="email" name="memberEmail" id="memberEmail">
        <button id="emailVerifyButton" type="button">이메일 인증</button>
        <p id="emailCheckResult"></p>
    </div>

    <div>
        <label for="verification-code">이메일 인증 코드 입력</label>
        <input type="text" id="verification-code">
        <button type="button" id="verificationButton">인증 확인</button>
    </div>

    <div>
        <input type="submit" value="회원가입" id="joinButton" disabled>
    </div>
</form>
</body>
<script>
    const selectors = {
        verificationCode: "",
        idCheckResult: document.getElementById("idCheckResult"),
        emailCheckResult: document.getElementById("emailCheckResult"),
        username: document.getElementById("username"),
        email: document.getElementById("memberEmail"),
    }
    const utils = {
        showError: (elem, message) => {
            elem.style.color = "red";
            elem.innerHTML = message;
        },
        showSuccess: (elem, message) => {
            elem.style.color = "green";
            elem.innerHTML = message;
        }
    }
    const signupHandlers = {
        email: {
            isValid: false,
            message: "사용 가능한 이메일"
        },
        username: {
            isValid: false,
            message: "사용 가능한 아이디"
        }, passwordMatch: {
            isValid: false,
            message: "비밀번호가 일치하지 않습니다."
        },
    };
    const idCheck = () => {
        checkDuplicate("/login/duple/id",
            selectors.username.value,
            selectors.idCheckResult,
            "username");
    };

    const emailCheck = () => {
        checkDuplicate("/login/duple/email",
            selectors.email.value,
            selectors.emailCheckResult,
            "email");
    };

    const checkDuplicate = (url, value, resultElem, field) => {
        fetch(url,
            {
                method: 'POST',
                body: value,
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(res => res.text())
            .then(res => {
                const fieldName = field === 'username' ? '아이디' : '이메일';
                if (res === "true") {
                    utils.showError(resultElem, "이미 사용 중인 " + fieldName);
                    signupHandlers[field].isValid = false;
                } else {
                    utils.showSuccess(resultElem, "사용 가능한 " + fieldName);
                    signupHandlers[field].isValid = true;
                }
            })
            .catch(err => console.log("에러발생", err));
    };

    const requestEmailVerification = () => {
        selectors.verificationCode = Math.floor(100000 + Math.random() * 900000).toString();

        fetch("/api/mail/send", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                address: selectors.email.value,
                title: "이메일 인증 코드",
                content: `회원 가입을 위한 인증 코드는 ${selectors.verificationCode} 입니다.`,
            })
        }).then(response => response.json())
            .then(data => console.log(data))
            .catch(err => console.error("에러발생", err));
        // .then(() => alert("인증 코드가 이메일로 전송되었습니다."))
    };


    const checkEmailVerification = () => {
        const inputCode = document.getElementById("verification-code").value;
        if (inputCode === selectors.verificationCode) {
            alert("인증이 성공적으로 완료되었습니다.");
            document.getElementById("joinButton").disabled = false;
            return true;
        } else {
            alert("인증 코드가 일치하지 않습니다.");
            document.getElementById("joinButton").disabled = true;
            return false;
        }
    };

    const checkPasswordsMatch = () => {
        const password = document.getElementById('password').value;
        const passwordConfirm = document.getElementById('passwordConfirm').value;

        if (password !== passwordConfirm) {
            document.getElementById("joinButton").disabled = true;

            utils.showError(document.getElementById("passwordError"), signupHandlers.passwordMatch.message)
        } else {
            document.getElementById("joinButton").disabled = false;

            signupHandlers.passwordMatch.isValid = true;
        }
    };

    const handleFormSubmit = (event) => {
        event.preventDefault();
        if (!selectors.username.value || !selectors.email.value || !document.getElementById('password').value || !document.getElementById('passwordConfirm').value) {
            alert('필수 입력란을 모두 채워주세요');
            return;
        }

        if (!checkEmailVerification()) {
            alert('이메일 인증을 완료해주세요');
            return;
        }

        if (!signupHandlers.username.isValid || !signupHandlers.email.isValid || !signupHandlers.passwordMatch.isValid) {
            alert('모든 검증 과정이 성공적으로 완료된 후 회원가입이 가능합니다');
            return;
        }

        document.getElementById("signupForm").submit();
    };

    document.getElementById('username').addEventListener('blur', idCheck);
    document.getElementById('memberEmail').addEventListener('blur', emailCheck);
    document.getElementById('passwordConfirm').addEventListener('blur', checkPasswordsMatch);
    document.getElementById('emailVerifyButton').addEventListener('click', requestEmailVerification);
    document.getElementById('verificationButton').addEventListener('click', checkEmailVerification);
    document.getElementById('joinButton').addEventListener('click', handleFormSubmit);

</script>

</html>